.bg-dark {
  background-color: rgb(40, 40, 40) !important;
}

.body-font {
  font-family: "Quicksand", sans-serif;
}

.header-font {
  font-family: "Questrial", sans-serif;
}

h1 {
  font-family: "Questrial", sans-serif;
  font-weight: "light";
}

h2 {
  font-family: "Questrial", sans-serif;
  font-weight: "light";
}
h3 {
  font-family: "Questrial", sans-serif;
  font-weight: "light";
}
h4 {
  font-family: "Questrial", sans-serif;
  font-weight: "light";
}
h5 {
  font-family: "Questrial", sans-serif;
  font-weight: "light";
}

p {
  font-family: "Quicksand", sans-serif;
}
